#content {
    padding: 10px;
    height: 100%;
}

#chartDiv {
    position: relative;
    height: 75vh;
    width: 98%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    margin-top: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.5);
    border-radius: 10px;
    margin-left: 1%;
    display: flex;
    visibility: hidden;
}